.quotebox {
    background-color: lightgray;
    border: 1px solid darkgray;
    max-width: 600px;
}

.container {
    max-width: 1024px;
    margin: auto;
}

.header {
    max-width: inherit;
}

img {
    margin: 10px;
    width: 100%;
}

nav {
    overflow: hidden;
    border-bottom: solid 1px;
}

nav a {
    float: left;
    color: white;
    background-color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

nav a:hover {
    background-color: #fb0e03;
    color: black;
}

nav a.current {
    background-color: #fb0e03;
    color: black;
    font-weight: bold;
}
